<launch>
<arg name="open_rviz" default="true"/>
<!-- We start the waypoint generator to be able to reset tables on the fly -->
   <node pkg="ros_waypoint_generator"
          type="ros_waypoint_generator"
          name="ros_waypoint_generator_node">
    </node>

    <node pkg="waiter_bot" type="save_waypoint.py" name="save_waypoint_node" output="screen">
        <param name="way_points_file_path"
                type="string"
                value="$(find waiter_bot)/waypoints_saved/$(arg map_name).pickle" />
    </node>

    <!--Move table-->
  <node pkg="waiter_bot" name="move_table" type="move_table.py" output="screen"> 
  </node>
    <!--Inteface-->
    <node pkg="waiter_bot" name="interfaz" type="interfaz.py" output="screen">
    </node>
  <!-- rviz -->
  
  <!--Broadcast camera to browser-->
  <node name ="web_video_server" pkg = "web_video_server" type = "web_video_server" output = "screen"/>
 
  <!--Real-->
  <!--"http://localhost:8080/stream?topic=/camera/rgb/image_raw&type=ros_compressed"-->
</launch>

